<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winnipeg Geo Data</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Winnipeg Geo Data</h1>

        <section>
            <h3>Filter by Query Involving:</h2>
                <div class="checkbox-columns">
                    <div class="checkbox-column">
                        <input type="checkbox" id="filter-time" name="filter-time"> Time<br>
                        <input type="checkbox" id="filter-day" name="filter-day"> Day<br>
                        <input type="checkbox" id="filter-gps" name="filter-gps"> GPS Point<br>
                        <input type="checkbox" id="filter-street" name="filter-street"> Street<br>
                    </div>
                    <div class="checkbox-column">
                        <input type="checkbox" id="filter-neighbourhood" name="filter-neighbourhood"> Neighbourhood<br>
                        <input type="checkbox" id="filter-paystation" name="filter-paystation"> Paystation<br>
                        <input type="checkbox" id="filter-lane" name="filter-lane"> Lane Closure<br>
                        <input type="checkbox" id="filter-bus-stop" name="filter-bus-stop"> Bus Stop<br>
                    </div>
                    <div class="checkbox-column">
                        <input type="checkbox" id="filter-bus-route" name="filter-bus-route"> Bus Route<br>
                        <input type="checkbox" id="filter-tow" name="filter-tow"> Tow<br>
                        <input type="checkbox" id="filter-substance-abuse" name="filter-substance-abuse"> Substance Abuse<br>
                        <input type="checkbox" id="filter-wfps-call" name="filter-wfps-call"> WFPS Call<br>
                    </div>
                </div>
        </section>

        <section>
            <h3>Query:
                <select id="query-dropdown" name="query">
                    <option value="" disabled selected>Select a Query</option>
                    <option value="total_substance_neighbourhood">total_substance_neighbourhood</option>
                    <option value="count_lane_closure_street">count_lane_closure_street</option>
                    <option value="total_wfps_call_neighbourhood">total_wfps_call_neighbourhood</option>
                    <option value="count_parking_citation_street">count_parking_citation_street</option>
                    <option value="bus_route_avg_deviation">bus_route_avg_deviation</option>
                    <option value="street_paystation">street_paystation</option>
                    <option value="count_tow_neighbourhood">count_tow_neighbourhood</option>
                    <option value="bus_stop_neighbourhood_bus_route">bus_stop_neighbourhood_bus_route</option>
                    <option value="latest_wfps_neighbourhood">latest_wfps_neighbourhood</option>
                    <option value="count_bus_stop_street">count_bus_stop_street</option>

                </select>
            </h3>
            <h3>Query Description:</h3>
            <p id="query-description"></p>
        </section>

        <form id="query-form" action="/submit" method="post">
            <section>
                <h3>Specify Query Parameters:</h2>
                    <div class="dual-input-container">
                        <p>Start Date: <input type="date" id="start-date" name="start-date"></p>
                        <p>Start Time: <input type="time" id="start-time" name="start-time" step="1"></p>
                    </div>
                    <div class="dual-input-container">
                        <p>End Date: <input type="date" id="end-date" name="end-date"></p>
                        <p>End Time: <input type="time" id="end-time" name="end-time" step="1"></p>
                    </div>
                    <div class="dual-input-container">
                        <p>Street Name: <input type="text" id="street-name" name="street-name"></p>
                        <p>Street Type: <input type="text" id="street-type" name="street-type"></p>
                    </div>
                <p>Neighbourhood: <input type="text" id="neighborhood" name="neighborhood"></p>
                <p>Distance (meters): <input type="text" id="num-meters" name="num-meters"></p>
            </section>
        
            <button type="submit" id="execute-btn">Execute</button>
        </form>
        

        <section>
            <h2>Query Results</h2>
            <div id="results-container">
                <p>No Results</p>
                <!-- Actual results will be displayed here dynamically -->
            </div>
        </section>

        <section>
            <iframe src="/static/interactive_map.html" width="800pt" height="700pt" id="map-iframe"></iframe>
        </section>
    </div>

    <script src="/static/script.js"></script>

</body>

</html>